In [60]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

# Import the data
train_db = pd.read_csv("data/titanic_train.csv")
test_db = pd.read_csv("data/titanic_test.csv")
gender_db = pd.read_csv("data/gender_submission.csv")

train_db = train_db.dropna()
test_db = test_db.dropna()
gender_db = gender_db.dropna()

In [51]:
# Check the data
train_db.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [7]:
test_db.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [8]:
gender_db.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [10]:
train_db.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [52]:
# Convert male and female to integers
train_db.Sex.replace(['male', 'female'], [0,1], inplace=True)
test_db.Sex.replace(['male', 'female'], [0,1], inplace=True)

In [53]:
train_db.Sex.head(), test_db.Sex.head()

(1     1
 3     1
 6     0
 10    1
 11    1
 Name: Sex, dtype: int64,
 12    1
 14    1
 24    1
 26    1
 28    0
 Name: Sex, dtype: int64)

In [62]:
colormap = plt.cm.RdBu
plt.figure(figsize=(14,12))
sns.heatmap(train_db.astype(float).corr(),linewidths=0.1,vmax=1.0, 
            square=True, cmap=colormap, linecolor='white', annot=True)

TypeError: '<=' not supported between instances of 'int' and 'str'

In [54]:
# Set features
selected_features = train_db[['Pclass', 'Sex', 'Age']]
test_features = test_db[['Pclass', 'Sex', 'Age']]

In [55]:
# Select the y-value from the training data and reshape and flatten
y = train_db.Survived

y = y.values.reshape(-1, 1)
y = y.flatten()

In [56]:
# Scale the data
from sklearn.preprocessing import MinMaxScaler

X_minmax = MinMaxScaler().fit(selected_features)


X_train_minmax = X_minmax.transform(selected_features)
X_test_minmax = X_minmax.transform(test_features)

In [57]:
from sklearn.linear_model import LogisticRegression
model1 = LogisticRegression(max_iter=6000)
model1
model1.fit(selected_features, y)

print(f"Training Data Score: {model1.score(selected_features, y)}")
# print(f"Testing Data Score: {model1.score(test_features, y)}")

Training Data Score: 0.7868852459016393